body{
    background-color: #1a1717;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#title{
    color: #ffffff;
    margin: 10px 20px 0px 20px;
}

#introtext{
    color: gray;
    margin: 10px 20px 0px 20px;
}

#secondintroContainer{
    color: gray;
    margin: 0px 0px 0px 20px;
}

.highlight{
    color: #ff0000;
    font-family: Arial, Helvetica, sans-serif;
}

#introContainer{
    width: 307px;
    float: left;
}

.reset{
    clear: both;
}

#hobbyContainer{
    width: 245px;
    float: left;
    color: gray;
}

#introPicture{
    float: left;
}

#gamesPicture{
    float: left;
}

#mainContainer{
    width: 600px;
    margin: 0px auto;
}

.logo{
        float: left;
        width: 68px;
        height: 68px;
        background-color: #1a1717;
        text-align: center;
        margin: 20px 0px 0px 0px;
}

#quoteOfTheDay{
    float: left;
    margin: 20px 0px 0px 41px;
}

#navigation {
    height: 30px;
    margin: 0px 0px 10px 0px;
}

#navigation a {
    padding: 10px;
    background: #cc530c;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 4px;
}

#navigation a:hover {
    background: #cc530c;
}